@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.noise-bg {
  position: relative;
  background: linear-gradient(
    180deg,
    #0269FF 0%,
    #107AFE 6%,
    #93C6F1 57%,
    #FAFDE2 96%
  );
  overflow: hidden;
}

.noise-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/noise.png");
  background-repeat: repeat;
  background-size: auto;
  pointer-events: none;
}